body{
    margin: 0;
    padding: 0;
}
.panel{
    position: absolute;
    width: 18%;
    height: 27%;
    top: 38%;
    left: 38%;
    padding: 1%;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
}
#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: url(login_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}