<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <title>Particle Effect</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <script src="{{url_for('static', filename='static/scripts/particle/login.js')}}"></script>

        <link rel="stylesheet" type="text/css" href="static/css/particle/main.css">
    </head>

    <body>
      <div class="panel" style="display: block;">
        <form style="color: #f2e7e7;" id="form-signin" method="post">
          <div class="form-group" >
            <label for="exampleInputEmail1">Kullanici adi</label>
            <input type="text" class="form-control" name="user_mail" aria-describedby="emailHelp" placeholder="Kullanici adi">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Sifre</label>
            <input type="password" class="form-control" name="user_pass" placeholder="Sifre">
          </div>
          <button id="signin-button" type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

        <div id="particles-js">
            
        </div>
        <script src="static/scripts/particle/particles.js"></script>
        <script src="static/scripts/particle/particlesEdit.js"></script>
    </body>
</html>